<div class="card mb-3">
  <div class="card-body">
    <h3>
      <%= account.account_name %>
    </h3>
    <p class="text-secondary"><%= account.username %></p>
    <%= link_to "Details", account %>
  </div>
</div>
