<div class="container">
  <div class="d-flex bd-highlight mb-3">
    <div class="mr-auto p-2 bd-highlight">
      <h2>My Accounts - <%= @current_user.email %></h2>
    </div>
    <div class="p-2 bd-highlight">
      <%= button_to "Create account", new_account_path, class: "btn btn-secondary", method: :get %>
    </div>
  </div>
  <%= render @accounts %>
</div>
